body{
    display: flex;
    justify-content: center;
    font-size: 18px;
   
    
}
header{
    height: 90vh;
    margin-bottom: 5vh;
    width: 100%;
    background-image: url(assets/bg-hero-desktop.svg);
    padding-top: 5vh;
 }
 .all {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

 .allbody{width: 100%;
    max-width: 1440px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   
 }
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background: default;
    padding: 20px;
}
.container div{
    height: 5vh;
}
.container-2{ 
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container-2 div{
}
h1 {
    font-family: "Poppins";
    font-weight: 600;
    margin: 0 auto; 
  text-align: left
}
p{
    font-family: "Open Sans";
    font-weight: 400;
    margin: 0 auto; 
  text-align: left;
  padding-top: 30px;
}

#head-txt{
    width: 40%;
    margin: 10px auto;
    border: none;
    text-align: center;
    padding-left: 20px;
   
}
#head-img{
    width: 60%;
}
.btn-head{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    border: none;
}

.getfreebtn{
    background-color:#FE52C0;
    border: none;
    border-radius: 20px;
    color: white;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    }


    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
        width: 100%;
    }
    
    .box-one {
        height: 450px;
        width: 100%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .box-two {
        height: 450px;
        width: 100%;
        border-radius: 10px;
        box-shadow:rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        display: flex;
        gap: 20%;
        align-items: center;
    }
    
    .box-all {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .box-one-text {
        width: 55%;
        padding-left: 10%;
    }
    
    .box-one-img {
        width: 50%;
        padding-right: 10%;
    }
    
    .box-two-text {
        width: 50%;
        padding-right: 10%;
    }
    
    .box-two-img {
        width: 30%;
        padding-left: 10%;
    }
    